* {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #000000;
    border: 2px solid white;
    margin: 20px auto;
    padding: 0 0 20px 0;
}

.screen, .settingsScreen {
    display: flex;
    font-weight: bold;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 150px;
    background-color: black;
    border: 2px dotted white;
    margin: 10px;
    padding: 10px;
    border-radius: 11px;

}

.buttonContainer {
    display: flex;
    padding: 20px 40px;
    width: 360px;
    margin: 10px auto;
    justify-content: space-around;
    background-color: black;
    border: 2px dotted white;
    border-radius: 11px;

}

.button {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    width: 80px;
    border-radius: 11px;
    border: 2px dotted black;
    background-color: white;
    color: black;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.2s;
}

.button:active {
    transform: scaleX(0.8) translateY(4px);
}


.disabled {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    width: 80px;
    color: black;
    border-radius: 11px;
    border: 2px dotted black;
    background-color: white;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.2s;
    opacity: 0.4;
}

.inputSet {
    width: 200px;
    height: 20px;
    padding: 10px 5px;
    margin: 5px 10px;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.settingsScreen {
    flex-direction: column;
    font-size: 15px;
    padding: 30px;
}

.inputItem {
    display: flex;
    justify-content: space-between;
}

.textError {
    display: flex;
    align-items: center;
    color: #d41c1c;
    font-size: 25px;
}

.error {
    color: #d41c1c;
    font-size: 45px;
    font-weight: bolder;
}